@media (min-width: 768px) {
    body {
        font-size: 18px;
    }

}

body {
    overflow-y: scroll;
}

.text-right {
    text-align: right;
}

.repoDetailsContainer {
    padding-top: 25px;
}

.repoDetailsContainer h3 span {
    font-size: 0.8em;
}

.repoLanguagesContainer {
background-color: #f3f3ed;
    padding: 15px;
    margin-bottom: 15px;
}

.repoLanguagesContainer .languageTitle {
    font-width: bold;
    font-size:1.5em;
}

.repoLanguagesContainer .languagePercentage {
    font-size:1.8em;
}

.repositoryLanguageItem {
    text-align: center;
}

.repositoryLanguageItem span {
    display: block;
}

.avatar {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 15px;
}

header h1 {
    font-size: 32px;
}

header h2 {
margin-bottom: 0px;
}

header h3 {
    margin-top:0;
    font-weight: normal;
}

.titleContainer {
    float: right;
}

section.footer {
    margin-top: 15px;
}

section.content {
    padding-top: 0;
    padding-bottom: 15px;
}
section.content h3 {
    margin: 0;
}

.muted {
    color:#9da394;
}

section.content h3 {
    color: #87a655;
}

body {
    background-color: #f3f3ed;
}

a, a:visited {
    color: #95b85e;
    text-decoration: none;
}

.repoListCollectionContainer .row {
    padding-top: 8px;
    padding-bottom: 7px;
    border-bottom: solid 1px #f3f3ed;
}

.repoListCollectionContainer .row:hover {
    background-color: #f3f3ed;
    cursor: pointer;
}

section.content, .headerContainer header {
    padding-left:15px;
    padding-right:15px;
}

.headerContainer {
    background-color: #95b85e;
    width: 100%;
    color: #ffffff;
}

.headerContainer header {
    background-color: #87a655;
}

.profileAppWrapper {
    background-color: #f3f3ed;
}

.profileAppWrapper .content {
    background-color: #fcfcfc;
}
