<div class="row">
    <div class="col-xs-12">
        <p>To use this app, pick a user to view or enter a username to locate.</p>
        <p>Here are some examples profiles:</p>
        <ul>
            <li><a class="cmdViewUser" href="user/samkelleher">Sam Kelleher</a> (who wrote this sample app).</li>
            <li><a class="cmdViewUser" href="user/addyosmani">Addy Osmani</a> (has <i>lots</i> of repositories and demonstrates paging and filtering).</li>
            <li><a class="cmdViewUser" href="user/sample">Sample Data</a> (which doesn't make any API calls).</li>
            <li><a class="cmdViewUser" href="user/sdfouheyf092jefdg">Non-Existant User</a> (tests error handling for a user that doesn't exist).</li>
            <li><input type="text" class="txtSearchUsername" placeholder="Enter github username..." title="Alphanumeric and hyphen characters only. Username cannot start with a hyphen either. Press [Enter] to search." /> <button class="cmdSearch">View Repositories</button></li>
        </ul>
    </div>
</div>